{% extends 'Hod_template/base_template.html' %}
{% block page_title %} Manage Subjects {% endblock page_title %}
{% load static %}
{% load i18n %}
{% block main_content %}
<section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                    <h3 class="card-title text-bold">Subject Details</h3>
                  <div class="card-tools">
                    <form method="get" class="form-inline">
                      <div class="input-group input-group-sm border" style="width: 150px;">
                        {{Myfilter.code}}
                        <div class="input-group-append">
                          <button class="btn" type="submit">
                            <i class="fas fa-search"></i>
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr text-bold>
                      <th>ID</th>
                      <th>Subject Name</th>
                      <th>Course Name</th>
                      <th>Stage</th>
                      <th>Code</th>
                      <th>Staff Name</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for subject in subjects %}
                    <tr>
                      <td>{{ subject.id }}</td>
                      <td>{{ subject.subject_name }}</td>
                      <td>{{ subject.course_id.course_name }}</td>
                      <td>{{ subject.stage_id.stage }}</td>
                      <td>{{ subject.code }}</td>
                      <td>{{ subject.staff_id.first_name }} {{ subject.staff_id.last_name }}</td>
                      <td><a href="/edit_subject/{{ subject.id}}" class="btn btn-sm btn-success">Edit</a></td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
        <div class="card">
           <div class="card-footer">
              <div class="row">
                  <div class="col-lg-6">
                      <div class="pagination">
                          <span class="step-links">
                              <span class="current">
                                   Page  {{ page_obj.number }}  of  {{ page_obj.paginator.num_pages }}.
                              </span>
                          </span>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      {% if subjects.has_other_pages %}
                        <ul class="pagination float-right">
                            {% if subjects.has_previous %}
                                <li class="paginate_button page-item"><a class="page-link text-sm" href="?page={{ subjects.previous_page_number }}" data-dt-idx="0" tabindex="0"> << </a></li>
                            {% else %}
                                <li class="paginate_button page-item disabled"><a class="page-link text-sm" href="#" > << </a></li>
                            {% endif %}
                            {% for i in page_range|default_if_none:subjects.paginator.get_elided_page_range %}
                                {% if page_obj.number == i %}
                                    <li class="paginate_button page-item active"><a class="page-link text-sm">{{ i }}<span class="sr-only">(current)</span></a></li>
                                {% else %}
                                    {% if i == page_obj.paginator.ELLIPSIS %}
                                        <li class="paginate_button page-item"><a class="page-link text-sm" href="#">{{ i }}</a></li>
                                    {% else %}
                                        <li class="paginate_button page-item"><a class="page-link text-sm" href="?page={{ i }}">{{ i }}</a></li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            {% if subjects.has_next %}
                              <li class="page-item"><a class="page-link text-sm" href="?page={{ subjects.next_page_number }}"> >> </a></li>
                            {% else %}
                              <li class="page-item disabled"><a class="page-link text-sm" href="#" > >> </a></li>
                            {% endif %}
                        </ul>
                      {% endif %}
                  </div>
              </div>
          </div>
       </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock main_content %}