{% extends 'Hod_template/base_template.html' %}
{% block page_title %} Manage Course {% endblock page_title %}
{% load static %}
{% load i18n %}
{% block main_content %}
<section class="content">
    <div class="container-fluid">
       <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                  <h3 class="card-title">Courses</h3>
                  <div class="card-tools">
                    <form method="get" class="form-inline ml-3">
                        <div class="input-group input-group-sm border" style="width: 150px;">
                            {{ Myfilter.course_name }}
                            <div class="input-group-append">
                              <button class="btn" type="submit">
                                <i class="fas fa-search"></i>
                              </button>
                            </div>
                        </div>
                    </form>
                  </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Course Name</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for course in course %}
                    <tr>
                      <td>{{ course.id }}</td>
                      <td>{{ course.course_name }}</td>
                      <td><a href="/edit_course/{{ course.id }}" class="btn btn-sm btn-success">Edit</a></td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
       </div>
       <div class="card">
           <div class="card-footer">
              <div class="row">
                  <div class="col-lg-6">
                      <div class="pagination">
                          <span class="step-links">
                              <span class="current">
                                   Page  {{ page_obj.number }}  of  {{ page_obj.paginator.num_pages }}.
                              </span>
                          </span>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      {% if course.has_other_pages %}
                        <ul class="pagination float-right">
                            {% if course.has_previous %}
                                <li class="paginate_button page-item"><a class="page-link text-sm" href="?page={{ course.previous_page_number }}" data-dt-idx="0" tabindex="0"> << </a></li>
                            {% else %}
                                <li class="paginate_button page-item disabled"><a class="page-link text-sm" href="#" > << </a></li>
                            {% endif %}
                            {% for i in page_range|default_if_none:course.paginator.get_elided_page_range %}
                                {% if page_obj.number == i %}
                                    <li class="paginate_button page-item active"><a class="page-link text-sm ">{{ i }}<span class="sr-only">(current)</span></a></li>
                                {% else %}
                                    {% if i == page_obj.paginator.ELLIPSIS %}
                                        <li class="paginate_button page-item"><a class="page-link text-sm" href="#">{{ i }}</a></li>
                                    {% else %}
                                        <li class="paginate_button page-item"><a class="page-link text-sm" href="?page={{ i }}">{{ i }}</a></li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            {% if course.has_next %}
                              <li class="page-item"><a class="page-link text-sm " href="?page={{ course.next_page_number }}"> >> </a></li>
                            {% else %}
                              <li class="page-item disabled"><a class="page-link text-sm" href="#" > >> </a></li>
                            {% endif %}
                        </ul>
                      {% endif %}
                  </div>
              </div>
          </div>
       </div>
    </div><!-- /.container-fluid -->
</section>
    <!-- /.content -->
{% endblock main_content %}