{% extends 'Hod_template/base_template.html' %}
{% block page_title %} Student Leave {% endblock page_title %}
{% load static %}
{% block main_content %}
<section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Student Leave</h3>
                  <div class="card-tools">
                    <form method="get" class="form-inline">
                      <div class="input-group input-group-sm border" style="width: 200px;">
                        {{filterstaf.student_id__admin__last_name}}
                        <div class="input-group-append">
                          <button class="btn" type="submit">
                            <i class="fas fa-search"></i>
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
              </div>
              <div class="table">
               <table class="table">
                <tr>
                  <th>Name</td>
                  <th>Message</th>
                  <th>Leave Date</th>
                  <th>Applied On</th>
                  <th>Action</th>
                </tr>
                {% for leave in leaves %}
                 <tr>
                   <td> {{ leave.student_id.admin.first_name }}  {{ leave.student_id.admin.last_name }} </td>
                   <td> {{ leave.leave_message }}
                   <td> {{ leave.leave_date }} </td>
                   <td> {{ leave.created_at }} </td>
                   <td>
                      {% if leave.leave_status == 0 %}
                        <a href="{%url 'student_approved_leave' leave_id=leave.id %}" class="btn btn-success">Approve</a>
                        <a href="{%url 'student_disapproved_leave' leave_id=leave.id %}" class="btn btn-danger">Disapprove</a>
                      {% elif leave.leave_status == 1 %}
                        <button class="btn btn-success" data-toggle="modal" disabled="disabled" data-target="#reply_modal">Approved</button> 
                      {% else %}  
                        <button class="btn btn-danger" data-toggle="modal" disabled="disabled" data-target="#reply_modal">Disapproved</button>
                      {% endif %}
                   </td>
                   {% comment %} <td> <a href="{% url 'replystudent' %} {{ student.admin.id }}" class="btn btn-success">Edit</a></td> {% endcomment %}
                 </tr>

                {% endfor%}
               </table>
            </div>
          </div>
          <!-- /.card -->
       </div>
       </div>
          <div class="card">
           <div class="card-footer">
              <div class="row">
                  <div class="col-lg-6">
                      <div class="pagination">
                          <span class="step-links">
                              <span class="current">
                                   Page  {{ page_obj.number }}  of  {{ page_obj.paginator.num_pages }}.
                              </span>
                          </span>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      {% if leaves.has_other_pages %}
                        <ul class="pagination float-right">
                            {% if leaves.has_previous %}
                                <li class="paginate_button page-item"><a class="page-link" href="?page={{ leaves.previous_page_number }}" data-dt-idx="0" tabindex="0">Previous</a></li>
                            {% else %}
                                <li class="paginate_button page-item disabled"><a class="page-link" href="#" >Previous</a></li>
                            {% endif %}
                            {% for i in page_range|default_if_none:leaves.paginator.get_elided_page_range %}
                                {% if page_obj.number == i %}
                                    <li class="paginate_button page-item active"><a class="page-link">{{ i }}<span class="sr-only">(current)</span></a></li>
                                {% else %}
                                    {% if i == page_obj.paginator.ELLIPSIS %}
                                        <li class="paginate_button page-item"><a class="page-link" href="#">{{ i }}</a></li>
                                    {% else %}
                                        <li class="paginate_button page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            {% if leaves.has_next %}
                              <li class="page-item"><a class="page-link" href="?page={{ leaves.next_page_number }}" >Next</a></li>
                            {% else %}
                              <li class="page-item disabled"><a class="page-link" href="#" >Next</a></li>
                            {% endif %}
                        </ul>
                      {% endif %}
                  </div>
              </div>
          </div>
      </div>
      </div>
          <!-- /.container-fluid -->
</section>
    <!-- /.content -->
{% endblock main_content %}
{% comment %} {% block custom_js %}
<script>
  $(document).ready(function(){
    $(".reply_open_modal").click(function(){
      var id=$(this).parents("tr").children("td:eq(0)").text();
      var name=$(this).parents("tr").children("td:eq(2)").text();
      $("#reply_id").val(id);
      $("#reply_name").text(name);
    });
    $(document).on("click","#reply_btn",function(){

      $(this).attr("disabled","disabled")
      $(this).text("Sending reply...")

      var id=$("#reply_id").val();
      var message=$("#reply_message").val();
      $.ajax({
        url:'{% url 'student_feedback_msg_replied' %}',
        type:'POST',
        data:{id:id,message:message},
       })
      .done(function(response){
      if(response=="True"){
        swal("Reply sent")
      }
      else{
        swal("Reply not sent")
      }
      location.reload()
     })
    .fail(function(){
      swal("error in sending Reply")
    })
   });
  });
</script>

{% endblock custom_js %} {% endcomment %}