{% extends 'Hod_template/base_template.html' %}
{% block custom_css %}
<style>
.col-lg-4.attendance_div_green {
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #388e3c;
    border: 10px solid white;
    text-align: left;
    color: #fff;
    border-radius: 30px;
    box-shadow: 1px 1px 1px grey;
    margin-top: 10px;
    margin-bottom: 10px;
}
.col-lg-3.attendance_div_red {
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #f44336;
    border: 10px solid white;
    text-align: center;
    color: #fff;
    border-radius: 30px;
    box-shadow: 1px 1px 1px grey;
    margin-top: 10px;
    margin-bottom: 10px;
}

.success{
        list-style:none;
        background-color:#008000;
        color:white;
        box-shadow:12px 12px 12px #0000ff;
        text-align:center
}
.error{
        list-style:none;
        background-color:#ff0000;
        color:white;
        box-shadow:12px 12px 12px #0000ff;
        text-align:center
}
</style>
{% endblock custom_css %}
{% block page_title %}
Admission No. :{{ student_obj.username }}
{% endblock page_title %}
{% load static %}
{% block main_content %}
<section class="content">
      <div class="container-fluid">
          {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                      <li {% if message.tags %} class="{{message.tags}}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
          {% endif %}
        <div class="row">
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Update/View Student's Unit registration</h3>
              </div>
                <div class="card-body">
                 <div class="form-group">
                     <div class="row">
                          <div class="col-md-6">
                            <label>Stage</label>
                            <select class="form-control"  name="stage" id="stage">
                                {% for subject in Stage %}
                                  <option value="{{ subject.id }}">{{ subject.semester_id.stage }}</option>
                                {% endfor %}
                            </select>
                            {% for Stage in Stage %}
                                <input type="hidden" name="student_id" id="student_id" value="{{ student_obj.id }}">
                            {% endfor %}
                          </div>
                          <div class="col-md-3">
                             <button type="button" class="btn btn-success btn-sm " id="fetch_units">Fetch Units</button>
                          </div>
                     </div>
                 </div>
                  <div class="form-group">

                  </div>
                  <div class="form-group">
                      <div class="alert alert-danger" id="error_attendance" style="display:none">

                      </div>    
                  </div>
              </div>
            </div>
          </div>
          {% if student.status == 1 %}
              <div class="col-md-6">
                  <div class="card card-warning">
                      <div class="card card-header">
                          <h3 class="card-title">
                              Registered Semesters
                          </h3>
                      </div>
                      <div class="card-body">
                          <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                              <thead>
                                <tr>
                                  <th>Semester</th>
                                  <th>Action</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>{{ student.stage_id.stage }}</td>
                                  <td>
                                      <form method="POST" action="/delete_stage" role="form">
                                        {% csrf_token %}
                                        <input type="hidden" value="{{student.stage_id.id}}" name="Students"/>
                                        <input type="hidden" value="{{student.admin.id}}" name="std"/>
                                        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                                      </form>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                      </div>
                  </div>
              </div>
          {% else %}
          {% endif %}
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card" id="student_data">
                </div>
            </div>
        </div>

            <!-- /.card -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock main_content %}
{% block custom_js %}
<script>
  $(document).ready(function(){
      $("#fetch_units").click(function(){

          var stage=$("#stage").val()
          var student_id=$("#student_id").val()

          $.ajax({
              url:'{% url 'get_unregistered_student_units' %}',
              type:'POST',
              data:{stage:stage,student_id:student_id},
          })
          .done(function(response){
              var json_data=JSON.parse(response);
              if(json_data==""){
                swal("No units match your criteria")
              }else{
                  var div_data="<div class='card-body'><div class='form-group'><label></label></div><div class='form-group'><div class='row'>";
                  for(key in json_data)
                  {
                      div_data+="<div class='col-lg-4 attendance_div_green'><div class='form-check'><table class='table'><tr><td width='10px'><input type='checkbox' ";
                      if(json_data[key]['status'])
                      {
                          div_data+="checked='checked'";
                      }
                      else{
                          div_data+="";
                      }
                      div_data+="name='student_data[]' value='"+json_data[key]['id']+"'></td><td width='100px'><label class='form-check-label'>"+json_data[key]['code']+"</label></td><td width='150px'><label class='form-check-label'>"+json_data[key]['name']+"</label></td>";
                      div_data+="</tr></table></div></div>";
                  }
                  div_data+="</div></div>";
                  div_data+="<div class='form-group'>";
                  div_data+="<button id='save_units' class='btn btn-primary text-sm btn-block' type='button'>Submit</button>";
                  div_data+="</div></div>";
              }

              $("#student_data").html(div_data);

          })
          .fail(function(){
              swal.fire({
              text:"Error in Fetching Units",
              icon:"error",
              })
          })

       })

       $(document).on("click","#save_units",function(){
              $(this).attr("disabled","disabled")
              $(this).text("Submitting Units...")
              var student_data=$("input[name='student_data[]']").map(function(){
                  if($(this).is(":checked")){
                      return {"id":$(this).val(),"status":1};
                  }
                  else{
                      return {"id":$(this).val(),"status":0};
                  }
              }).get()
              var stage=$("#stage").val()
              var student_id=$("#student_id").val()
              student_data=JSON.stringify(student_data)

              $.ajax({
                      url:'{% url 'save_update_student_units' %}',
                      type:'POST',
                      data:{student_ids:student_data,stage:stage,student_id:student_id},
              })
              .done(function(response){
                if(response=="saved"){
                      swal.fire({
                      text:"Units saved",
                      icon:"success"
                      }).then(() => {
                        location.reload()
                      })
                  }
                  else{
                      swal.fire({
                      text:"Error in Submitting Units",
                      icon:"error",
                      }).then(() => {
                        location.reload()
                      })
                  }
              })
              .fail(function(){
                  swal.fire({
                  text:"Error in Saving Units",
                  icon:"error",
                  }).then(() => {
                    location.reload()
                  })
              })
      })

  })
</script>
{% endblock custom_js %}
