{% extends 'student_template/base_template.html' %}
{% block page_title %}  {% endblock page_title %}
{% load static %}
{% block main_content %}
<section class="content">
      <div class="container-fluid">
       <div class="row">
          <div class="col-6">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Notifications</h3>
                    <div class="card-tools">
                        <form method="POST" action="/clear_all" role="form">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm btn-danger">Clear All</button>
                        </form>
                    </div>
                </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>Message</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for notification in notify %}
                    <tr>
                      <td>{{ notification.message }}</td>
                      <td>
                          <form method="POST" action="/clear_one" role="form">
                            {% csrf_token %}
                              <input type="hidden" value="{{ notification.id }}" name="notification">
                            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                          </form>
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock main_content %}