{% extends "student_template/base_template.html" %}
{% block page_title %}  {% endblock page_title %}
{% load static %}
{% block main_content %}
<section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Exam Card</h3>
                </div>
               {% if reg > 0 %}
                  <div class="card-body">
                      <label>Exam Card({{ student_obj.username }})</label><br/>
                      <a href="/student_render_pdf_view/{{ student_obj.id }}"><button class="btn btn-primary">Open</button></a>
                  </div>
               {% else %}
                    <label>You have not registered for any units</label>
               {% endif %}
            </div>
          </div>
        </div>
            <!-- /.card -->
      </div>
</section>
    <!-- /.content -->
{% endblock main_content %}