{% extends "student_template/base_template.html" %}
{% block page_title %} Exam Card {% endblock page_title %}
{% load static %}
{% block main_content %}
<section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Units</h3>
              </div>
               {% if reg > 0 %}
                  <div class="card-body">
                      <label>Exam Card({{ student_obj.admin.username }})</label><br/>
                      <a href="/render_pdf_view/pdf2/pdf/student.id"><button class="btn btn-primary">Open</button></a>
                  </div>
               {% else %}
                    <label>You have not registered for any units</label>
               {% endif %}
            </div>
          </div>
        </div>
            <!-- /.card -->
      </div>
</section>
    <!-- /.content -->
{% endblock main_content %}