{% block custom_css %}
<style>
.user-panel.mt-3.pb-3.mb-3.d-flex.username {
    color:#fff;
    height:100px;
    font-size:25px
}
.col-lg-3.attendance_div_green {
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #388e3c;
    border: 10px solid white;
    text-align: center;
    color: #fff;
    border-radius: 30px;
    box-shadow: 1px 1px 1px grey;
    margin-top: 10px;
    margin-bottom: 10px;
}
</style>
{% endblock custom_css %}

{% load static %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex username">
        <div class="info">
            Employee Id:&nbsp;{{ user.username }}
          <a href="{% url 'staff_profile' %}" class="d-block"><button class="btn btn-sm btn-success">Update Profile</button></a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item has-treeview menu-open">
            <ul class="nav nav-treeview">
            </ul>
          </li>
          <li class="nav-item">
            {% url 'staff_home' as staff_home %}
            <a href="{{ staff_home }}" class="nav-link {% if request.path == staff_home %} active {% endif %} ">
              <i class="nav-icon fas fa-home"></i>
              <p>
                HOME
              </p>
            </a>
          </li>
          <li class="nav-item">
             {% url 'staff_take_attendance' as staff_take_attendance %}
            <a href="{{ staff_take_attendance }}" class="nav-link {% if request.path == staff_take_attendance %} active {% endif %} ">
              <i class="nav-icon fas fa-bars"></i>
              <p>
                Take Attendance
              </p>
            </a>
          </li>
          <li class="nav-item">
            {% url 'staff_update_attendance' as staff_update_attendance %}
           <a href="{{ staff_update_attendance }}" class="nav-link {% if request.path == staff_update_attendance %} active {% endif %} ">
             <i class="nav-icon fas fa-database"></i>
             <p>
               View/Update student Attendance
             </p>
           </a>
         </li>
         <li class="nav-item">
          {% url 'staff_feedback' as staff_feedback %}
         <a href="{{ staff_feedback }}" class="nav-link {% if request.path == staff_feedback %} active {% endif %} ">
           <i class="nav-icon fas fa-envelope"></i>
           <p>
             Complaints
           </p>
         </a>
       </li>
       <li class="nav-item">
        {% url 'staff_apply_leave' as staff_apply_leave %}
       <a href="{{ staff_apply_leave }}" class="nav-link {% if request.path == staff_apply_leave %} active {% endif %} ">
         <i class="nav-icon fas fa-user-times"></i>
         <p>
           Apply For Leave
         </p>
       </a>
       </li>
      <li class="nav-item">
      {% url 'staff_add_result' as staff_add_result %}
      <a href="{{ staff_add_result }}" class="nav-link {% if request.path == staff_add_result %} active {% endif %} ">
        <i class="nav-icon fas fa-percent"></i>
        <p>
          Add Results
        </p>
      </a>
      </li>
      <li class="nav-item">
        {% url 'edit_student_result' as edit_student_result %}
        <a href="{{ edit_student_result }}" class="nav-link {% if request.path == edit_student_result %} active {% endif %} ">
          <i class="nav-icon fas fa-plus-square"></i>
          <p>
            Edit Results
          </p>
        </a>
      </li>
      <li class="nav-item">
        {% url 'registered_units' as registered_units %}
        <a href="{{ registered_units }}" class="nav-link {% if request.path == registered_units %} active {% endif %} ">
          <i class="nav-icon fas fa-rss-square"></i>
          <p>
            Registered Students
          </p>
        </a>
      </li>
      <li class="nav-item">
        {% url 'staff_all_notification' as staff_all_notification %}
       <a href="{{ staff_all_notification }}" class="nav-link {% if request.path == staff_all_notification %} active {% endif %} ">
         <i class="nav-icon fas fa-share-square"></i>
         <p>
           Notifications
         </p>
       </a>
      </li>
        </ul>
     </nav>
      <!-- /.sidebar-menu -->
  </div>
    <!-- /.sidebar -->
</aside>