{% extends 'staff_template/base_template.html' %}
{% block custom_css %}
<style>
    .success{
        list-style:none;
        background-color:#008000;
        color:white;
        box-shadow:12px 12px 12px #0000ff;
        text-align:center
}
.error{
        list-style:none;
        background-color:#ff0000;
        color:white;
        box-shadow:12px 12px 12px #0000ff;
        text-align:center
}
</style>
{% endblock custom_css %}
{% load static %}
{% block main_content %}

<section class="content">
      <div class="container-fluid">
          {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                      <li {% if message.tags %} class="{{message.tags}}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
          {% endif %}
        <div class="row">
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-success">
                <div class="card-header">
                    <h3 class="card-title">Leave Application</h3>
                </div>
              <form action="{% url 'staff_apply_leave_save' %}" method="POST">
                <div class="card-body">
                    {% csrf_token %}
                   <div class="form-group">
                      <label>Leave Date</label>
                     <input type="date" name="leave_date" class="form-control"/>
                   </div>
                  <div class="form-group">
                    <label>Reason for leave</label>
                    <textarea class="form-control" name="leave_msg" rows="6" placeholder=""></textarea>
                  </div>
<!--                  <div class="form-group">-->
<!--                    {% if messages %}-->
<!--                      {% for message in messages %}-->
<!--                      {% if message.tags == 'error' %}-->
<!--                     <div class="alert alert-danger" style="margin-top:10px" >{{ message }}</div>-->
<!--                     {% endif %}-->
<!--                     {% if message.tags == 'success' %}-->
<!--                     <div class="alert alert-success" style="margin-top:10px" >{{ message }}</div>-->
<!--                     {% endif %}-->
<!--                     {% endfor %}-->
<!--                   {% endif %}-->
<!--                  </div>-->
                </div>
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary btn-block " id="fetch_student">Submit</button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-6">
              <div class="card card-info">
                  <div class="card-header">
                    <h3 class="card-title"> Reply </h3>
                  </div>
                <div class="table">
                  <table class="table">
                      <tr>
                          <th>Date</th>
                          <th>Reason</th>
                          <th>Reply</th>
                      </tr>
                      {% for row in leave_data %}
                      <tr>
                          <td>{{ row.leave_date }}</td>
                          <td>{{ row.leave_message }}</td>
                          <td>
                              {% if row.leave_status == 0 %}
                                <span class="alert alert-info text-sm ">Pending...</span>
                              {% elif row.leave_status == 1 %}
                                <span class="alert alert-success text-sm ">Approved</span>
                              {% elif row.leave_status == 2 %}
                                <span class="alert alert-danger text-sm">Disapproved</span>
                              {% endif %}
                          </td>
                      </tr>
                      {% endfor %}
                  </table>
                </div>
              </div>
              <div class="card-footer">
                      <div class="pagination">
                          <span class="step-links">
                              <span class="current">
                                   Page  {{ page_obj.number }}  of  {{ page_obj.paginator.num_pages }}.
                              </span>
                          </span>
                      </div>
                      {% if leave_data.has_other_pages %}
                                <ul class="pagination float-right">
                                    {% if leave_data.has_previous %}
                                        <li class="paginate_button page-item"><a class="page-link" href="?page={{ leave_data.previous_page_number }}" data-dt-idx="0" tabindex="0">Previous</a></li>
                                    {% else %}
                                        <li class="paginate_button page-item disabled"><a class="page-link" href="#" >Previous</a></li>
                                    {% endif %}
                                    {% for i in page_range|default_if_none:leave_data.paginator.get_elided_page_range %}
                                        {% if page_obj.number == i %}
                                            <li class="paginate_button page-item active"><a class="page-link">{{ i }}<span class="sr-only">(current)</span></a></li>
                                        {% else %}
                                            {% if i == page_obj.paginator.ELLIPSIS %}
                                                <li class="paginate_button page-item"><a class="page-link" href="#">{{ i }}</a></li>
                                            {% else %}
                                                <li class="paginate_button page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if leave_data.has_next %}
                                      <li class="page-item"><a class="page-link" href="?page={{ leave_data.next_page_number }}" >Next</a></li>
                                    {% else %}
                                      <li class="page-item disabled"><a class="page-link" href="#" >Next</a></li>
                                    {% endif %}
                                </ul>
                      {% endif %}
            </div>
          </div>
        </div>
      </div>
 </section>
    <!-- /.content -->
{% endblock main_content %}