{% extends 'admin_template/base.html' %}
{% block page_title %} Add HOD {% endblock page_title %}
{% load static %}
{% block main_content %}
<section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Add HOD</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action="{% url 'add_hod_save' %}" method="POST">
                {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                    <label>Email/Phone</label>
                    <input type="text" class="form-control" name="email" placeholder="Enter email" id="id_email" autocomplete="off">
                  </div>
                  <div class="form-group">
                    <label>First Name</label>
                    <input type="text" class="form-control"  placeholder="Firstname" name="first_name" autocomplete="off">
                  </div>
                  <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" class="form-control"  placeholder="Lastname" name="last_name" autocomplete="off">
                  </div>
                  <div class="form-group">
                    <label>Employee ID</label>
                    <input type="text" class="form-control"  placeholder="Username" name="user_name" id="id_username" autocomplete="off">
                  </div>
                  <div class="form-group">
                    <label>Address</label>
                    <input type="text" class="form-control"  placeholder="address" name="address">
                  </div>
                  <div class="form-group">
                    <label>Department</label>
                        <select class="form-control" name="school">
                            {% for school in Sch %}
                                <option value="{{ school.id }}">{{ school.dept_name }}</option>
                            {% endfor %}
                        </select>
                  </div>
                  <div class="form-group">
                    {% if messages %}
                      {% for message in messages %}
                      {% if message.tags == 'error' %}
                     <div class="alert alert-danger text-sm" style="margin-top:10px" >{{ message }}</div>
                     {% endif %}
                     {% if message.tags == 'success' %}
                     <div class="alert alert-success text-sm" style="margin-top:10px" >{{ message }}</div>
                     {% endif %}
                     {% endfor %}
                   {% endif %}
                  </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary btn-block ">Add HOD</button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">Heads of Departments</h3>
                <div class="card-tools">
                    <form method="get" class="form-inline">
                      <div class="input-group input-group-sm border" style="width: 150px;">
                        {{Myfilter.admin__username }}
                        <div class="input-group-append">
                          <button class="btn" type="submit">
                            <i class="fas fa-search"></i>
                          </button>
                        </div>
                      </div>
                    </form>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>Employee Id</th>
                      <th>Email/Phone</th>
                      <th>Department</th>
                      <th>Address</th>
                      <th>Last Login</th>
                      <th>Date Joined</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for Hod in HOD %}
                    <tr>
                      <td>{{ Hod.id }}</td>
                      <td>{{ Hod.admin.first_name }}</td>
                      <td>{{ Hod.admin.last_name }}</td>
                      <td>{{ Hod.admin.username }}</td>
                      <td>{{ Hod.admin.email }}</td>
                      <td>{{ Hod.dept_id.dept_name }}</td>
                      <td>{{ Hod.address }}</td>
                      <td>{{ Hod.admin.last_login }}</td>
                      <td>{{ Hod.admin.date_joined }}</td>
                      <td>
                        <a href="/hod_edit/{{ Hod.admin.id }}" class="btn btn-sm btn-success">Reset Password</a>
                        <a href="{% url 'delete_hod' Hod.admin.id %}"  class="btn btn-sm btn-danger">Delete</a>
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer">
                      <div class="pagination">
                          <span class="step-links">
                              <span class="current">
                                   Page  {{ page_obj.number }}  of  {{ page_obj.paginator.num_pages }}.
                              </span>
                          </span>
                      </div>
                      {% if HOD.has_other_pages %}
                                <ul class="pagination float-right">
                                    {% if HOD.has_previous %}
                                        <li class="paginate_button page-item"><a class="page-link" href="?page={{ HOD.previous_page_number }}" data-dt-idx="0" tabindex="0">Previous</a></li>
                                    {% else %}
                                        <li class="paginate_button page-item disabled"><a class="page-link" href="#" >Previous</a></li>
                                    {% endif %}
                                    {% for i in page_range|default_if_none:HOD.paginator.get_elided_page_range %}
                                        {% if page_obj.number == i %}
                                            <li class="paginate_button page-item active"><a class="page-link">{{ i }}<span class="sr-only">(current)</span></a></li>
                                        {% else %}
                                            {% if i == page_obj.paginator.ELLIPSIS %}
                                                <li class="paginate_button page-item"><a class="page-link" href="#">{{ i }}</a></li>
                                            {% else %}
                                                <li class="paginate_button page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if HOD.has_next %}
                                      <li class="page-item"><a class="page-link" href="?page={{ HOD.next_page_number }}" >Next</a></li>
                                    {% else %}
                                      <li class="page-item disabled"><a class="page-link" href="#" >Next</a></li>
                                    {% endif %}
                                </ul>
                      {% endif %}
            </div>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock main_content %}
{% block custom_js %}
<script>
  $(document).ready(function(){
    $("#id_email").keyup(function(){
      var email=$(this).val();
      if(email!=""){
        $.ajax({
          url:'{% url 'check_user_email' %}',
          type:'POST',
          data:{email:email}
        })
        .done(function(response){
          console.log(response);
          if(response=="True"){
            $(".email_error").remove();
            $("<span class='email_error' style='padding: 5px;color: red;font-weight: bold;'>Email Exists</span>").insertAfter("#id_email");
          }
          else{
            $(".email_error").remove();
            $("<span class='email_error' style='padding: 5px;color: green;font-weight: bold;'>Email Available</span>").insertAfter("#id_email");
          }
          })
          .fail(function(){
            console.log("failed");
          })
        }
        else{
          $(".email_error").remove();
        }
  });
    $("#id_username").keyup(function(){
      var username=$(this).val();

      if(username!=""){
          $.ajax({
              url:'{% url 'check_username' %}',
              type:'POST',
              data:{username:username}
          })
          .done(function(response){
              console.log(response);
              if(response=="True"){
                  $(".username_error").remove();
                  $("<span class='username_error' style='padding: 5px;color: red;font-weight: bold;'>Username Exists</span>").insertAfter("#id_username");
              }
              else{
                  $(".username_error").remove();
                  $("<span class='username_error' style='padding: 5px;color: green;font-weight: bold;'>Username available</span>").insertAfter("#id_username");
              }
          })
          .fail(function(){
              console.log("failed");
          })
      }
      else{
          $(".username_error").remove();
      }
    });
  });
</script>
{% endblock custom_js %}