{% extends 'admin_template/base.html' %}
{% block page_title %} Add HOD {% endblock page_title %}
{% load static %}
{% block main_content %}
<section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Add HOD</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action="{% url 'add_school_save' %}" method="POST">
                {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                    <label>School</label>
                    <input type="text" class="form-control" name="school" placeholder="Enter School Name" autocomplete="off">
                  </div>
                  <div class="form-group">
                    {% if messages %}
                      {% for message in messages %}
                      {% if message.tags == 'error' %}
                     <div class="alert alert-danger" style="margin-top:10px" >{{ message }}</div>
                     {% endif %}
                     {% if message.tags == 'success' %}
                     <div class="alert alert-success" style="margin-top:10px" >{{ message }}</div>
                     {% endif %}
                     {% endfor %}
                   {% endif %}
                  </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary btn-block ">Add School</button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-6">
              <div class="card card-info">
                  <div class="card-header">
                    <h3 class="card-title">Schools</h3>
                    <div class="card-tools">
                    <form method="get" class="form-inline">
                      <div class="input-group input-group-sm border" style="width: 150px;">
                        {{Myfilter.school_name }}
                        <div class="input-group-append">
                          <button class="btn" type="submit">
                            <i class="fas fa-search"></i>
                          </button>
                        </div>
                      </div>
                    </form>
                </div>
                  </div>
                  <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>School</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for Hod in schools %}
                        <tr>
                          <td>{{ Hod.id }}</td>
                          <td>{{ Hod.school_name }}</td>
                          <td>
                            <a href="{% url 'delete_hod' Hod.id %}"  class="btn btn-sm btn-danger">Delete</a>
                          </td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
              </div>
              <div class="card-footer">
                      <div class="pagination">
                          <span class="step-links">
                              <span class="current">
                                   Page  {{ page_obj.number }}  of  {{ page_obj.paginator.num_pages }}.
                              </span>
                          </span>
                      </div>
                      {% if schools.has_other_pages %}
                                <ul class="pagination float-right">
                                    {% if schools.has_previous %}
                                        <li class="paginate_button page-item"><a class="page-link" href="?page={{ schools.previous_page_number }}" data-dt-idx="0" tabindex="0">Previous</a></li>
                                    {% else %}
                                        <li class="paginate_button page-item disabled"><a class="page-link" href="#" >Previous</a></li>
                                    {% endif %}
                                    {% for i in page_range|default_if_none:schools.paginator.get_elided_page_range %}
                                        {% if page_obj.number == i %}
                                            <li class="paginate_button page-item active"><a class="page-link">{{ i }}<span class="sr-only">(current)</span></a></li>
                                        {% else %}
                                            {% if i == page_obj.paginator.ELLIPSIS %}
                                                <li class="paginate_button page-item"><a class="page-link" href="#">{{ i }}</a></li>
                                            {% else %}
                                                <li class="paginate_button page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if schools.has_next %}
                                      <li class="page-item"><a class="page-link" href="?page={{ schools.next_page_number }}" >Next</a></li>
                                    {% else %}
                                      <li class="page-item disabled"><a class="page-link" href="#" >Next</a></li>
                                    {% endif %}
                                </ul>
                      {% endif %}
            </div>
           </div>
        </div>
        <div class="row">
<!--            <div class="col-md-6">-->
<!--            &lt;!&ndash; general form elements &ndash;&gt;-->
<!--            <div class="card card-primary">-->
<!--              <div class="card-header">-->
<!--                <h3 class="card-title">Add HOD</h3>-->
<!--              </div>-->
<!--              &lt;!&ndash; /.card-header &ndash;&gt;-->
<!--              &lt;!&ndash; form start &ndash;&gt;-->
<!--              <form role="form" action="{% url 'add_dept_save' %}" method="POST">-->
<!--                {% csrf_token %}-->
<!--                <div class="card-body">-->
<!--                  <div class="form-group">-->
<!--                    <label>Department</label>-->
<!--                    <input type="text" class="form-control" name="dept" placeholder="Enter Department Name" autocomplete="off">-->
<!--                  </div>-->
<!--                  <div class="form-group">-->
<!--                    <label>School</label>-->
<!--                        <select class="form-control" name="dept1">-->
<!--                            {% for school in schools %}-->
<!--                                <option value="{{ school.id }}">{{ school.school_name }}</option>-->
<!--                            {% endfor %}-->
<!--                        </select>-->
<!--                  </div>-->
<!--                  <div class="form-group">-->
<!--                    {% if messages %}-->
<!--                          {% for msg in messages %}-->
<!--                          {% if msg.tags == 'error' %}-->
<!--                         <div class="alert alert-danger" style="margin-top:10px" >{{ msg }}</div>-->
<!--                         {% endif %}-->
<!--                         {% if msg.tags == 'success' %}-->
<!--                         <div class="alert alert-success" style="margin-top:10px" >{{ msg }}</div>-->
<!--                         {% endif %}-->
<!--                     {% endfor %}-->
<!--                   {% endif %}-->
<!--                  </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; /.card-body &ndash;&gt;-->

<!--                <div class="card-footer">-->
<!--                  <button type="submit" class="btn btn-primary btn-block ">Add School</button>-->
<!--                </div>-->
<!--              </form>-->
<!--            </div>-->
<!--            &lt;!&ndash; /.card &ndash;&gt;-->
<!--          </div>-->
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock main_content %}