{% extends 'admin_template/base.html' %}
{% block page_title %} Add HOD {% endblock page_title %}
{% load static %}
{% block main_content %}
<section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Add HOD</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action="{% url 'add_dept_save' %}" method="POST">
                {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                    <label>Department</label>
                    <input type="text" class="form-control" name="dept" placeholder="Enter Department Name" autocomplete="off">
                  </div>
                  <div class="form-group">
                    <label>School</label>
                        <select class="form-control" name="school">
                            {% for school in Sch %}
                                <option value="{{ school.id }}">{{ school.school_name }}</option>
                            {% endfor %}
                        </select>
                  </div>
                  <div class="form-group">
                    {% if messages %}
                      {% for message in messages %}
                      {% if message.tags == 'error' %}
                     <div class="alert alert-danger" style="margin-top:10px" >{{ message }}</div>
                     {% endif %}
                     {% if message.tags == 'success' %}
                     <div class="alert alert-success" style="margin-top:10px" >{{ message }}</div>
                     {% endif %}
                     {% endfor %}
                   {% endif %}
                  </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary btn-block ">Add School</button>
                </div>
              </form>
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock main_content %}