{% extends 'admin_template/base.html' %}
{% block main_content %}

<div class="card card-info">
    <div class="card-header">
        Confirm to Delete
    </div>
    <div class="card-body">
        Are you sure you want to delete {{ student.admin.username }}?
    </div>
    <div class="card-footer">
        <form method="post">
            {% csrf_token %}
            <button class="btn btn-sm btn-danger" type="submit">Confirm</button>
            <a href="{% url 'Student' %}" class="btn btn-sm btn-primary">Cancel</a>
        </form>
    </div>
</div>
{% endblock main_content %}