{% extends 'admin_template/base.html' %}
{% block page_title %} Manage Staff {% endblock page_title %}
{% load static %}
{% load i18n %}
{% block main_content %}
<section class="content" xmlns="http://www.w3.org/1999/html">
    <div class="container-fluid">
       <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                  <h3 class="card-title">Staff Details</h3>
                  <div class="card-tools">
                    <form method="get" class="form-inline">
                      <div class="input-group input-group-sm border" style="width: 150px;">
                        {{filterstaf.admin__username}}
                        <div class="input-group-append">
                          <button class="btn" type="submit">
                            <i class="fas fa-search"></i>
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>Employee Id</th>
                      <th>Username</th>
                      <th>Address</th>
                      <th>Last Login</th>
                      <th>Date Joined</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for staff in staf %}
                    <tr>
                      {% if staff.admin.id == 3 %}
                      {% else %}
                          <td>{{ staff.id }}</td>
                          <td>{{ staff.admin.first_name }}</td>
                          <td>{{ staff.admin.last_name }}</td>
                          <td>{{ staff.admin.username }}</td>
                          <td>{{ staff.admin.email }}</td>
                          <td>{{ staff.address }}</td>
                          <td>{{ staff.admin.last_login }}</td>
                          <td>{{ staff.admin.date_joined }}</td>
                          <td>
                              <a href="/staff_edit/{{ staff.admin.id }}" class="btn btn-sm btn-success">Reset Password</a>
                              <a href="{% url 'delete_staff' staff.admin.id %}" class="btn btn-sm btn-danger">Delete</a>
                          </td>
                      {% endif %}
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
      <div class="card">
           <div class="card-footer">
              <div class="row">
                  <div class="col-lg-6">
                      <div class="pagination">
                          <span class="step-links">
                              <span class="current">
                                   Page  {{ page_obj.number }}  of  {{ page_obj.paginator.num_pages }}.
                              </span>
                          </span>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      {% if staf.has_other_pages %}
                        <ul class="pagination float-right">
                            {% if staf.has_previous %}
                                <li class="paginate_button page-item"><a class="page-link" href="?page={{ staf.previous_page_number }}" data-dt-idx="0" tabindex="0">Previous</a></li>
                            {% else %}
                                <li class="paginate_button page-item disabled"><a class="page-link" href="#" >Previous</a></li>
                            {% endif %}
                            {% for i in page_range|default_if_none:staf.paginator.get_elided_page_range %}
                                {% if page_obj.number == i %}
                                    <li class="paginate_button page-item active"><a class="page-link">{{ i }}<span class="sr-only">(current)</span></a></li>
                                {% else %}
                                    {% if i == page_obj.paginator.ELLIPSIS %}
                                        <li class="paginate_button page-item"><a class="page-link" href="#">{{ i }}</a></li>
                                    {% else %}
                                        <li class="paginate_button page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            {% if staf.has_next %}
                              <li class="page-item"><a class="page-link" href="?page={{ staf.next_page_number }}" >Next</a></li>
                            {% else %}
                              <li class="page-item disabled"><a class="page-link" href="#" >Next</a></li>
                            {% endif %}
                        </ul>
                      {% endif %}
                  </div>
              </div>
          </div>
      </div>
   <div><!-- /.container-fluid -->
</section>
    <!-- /.content -->
{% endblock main_content %}