{% block custom_css %}
<style>
.user-panel.mt-3.pb-3.mb-3.d-flex.username {
    color:#fff;
    height:100px;
    font-size:25px
}
.col-lg-3.attendance_div_green {
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #388e3c;
    border: 10px solid white;
    text-align: center;
    color: #fff;
    border-radius: 30px;
    box-shadow: 1px 1px 1px grey;
    margin-top: 10px;
    margin-bottom: 10px;
}
</style>
{% endblock custom_css %}

{% load static %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex username">
        <div class="info">
            Employee Id:&nbsp;{{ user.username }}
          <a href="{% url 'Admin' %}" class="d-block"><button class="btn btn-sm btn-success">Update Profile</button></a>
        </div>
      </div>

       <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            {% url 'home' as home %}
            <a href="{{ home }}" class="nav-link {% if request.path == home %} active {% endif %} ">
              <i class="nav-icon fas fa-home"></i>
              <p>
                Home
              </p>
            </a>
          </li>
          <li class="nav-item">
            {% url 'add_hod' as add_hod %}
            {% url 'delete_hod'  id=id as delete_hod %}
            {% url 'hod_edit'  hod_id=hod_id as hod_edit %}
            <a href="{{ add_hod }}" class="nav-link {% if request.path == add_hod %} active {% endif %} {% if request.path == hod_edit %} active {% endif %} {% if request.path == delete_hod %} active {% endif %} ">
              <i class="nav-icon fas fa-user"></i>
              <p>
               Add HOD
              </p>
            </a>
          </li>
          <li class="nav-item">
            {% url 'add_school' as add_school %}
            {% url 'edit_school' id=id as edit_school %}
            {% url 'edit_dept' id=id as edit_dept %}
            <a href="{{ add_school }}" class="nav-link {% if request.path == add_school %} active {% endif %} {% if request.path == edit_school %} active {% endif %} {% if request.path == edit_dept %} active {% endif %}">
              <i class="nav-icon fas fa-database"></i>
              <p>
               Add School and Dept
              </p>
            </a>
          </li>
<!--          <li class="nav-item">-->
<!--            {% url 'add_department' as add_department %}-->
<!--            <a href="{{ add_department }}" class="nav-link {% if request.path == add_department %} active {% endif %}  ">-->
<!--              <i class="nav-icon fas fa-bars"></i>-->
<!--              <p>-->
<!--               Add Department-->
<!--              </p>-->
<!--            </a>-->
<!--          </li>-->
          <li class="nav-item">
            {% url 'Staff' as Staff %}
            {% url 'delete_staff' id=id as delete_staff %}
            {% url 'staff_edit' staff_id=staff_id as staff_edit %}
            <a href="{{ Staff }}" class="nav-link {% if request.path == Staff %} active {% endif %} {% if request.path == staff_edit %} active {% endif %} {% if request.path == delete_staff %} active {% endif %} ">
              <i class="nav-icon fas fa-universal-access"></i>
              <p>
                Staff
              </p>
            </a>
          </li>
          <li class="nav-item">
            {% url 'Student' as Student %}
            {% url 'delete_student' id=id as delete_student %}
            {% url 'student_edit' student_id=student_id as student_edit %}
            <a href="{{ Student }}" class="nav-link {% if request.path == delete_student %} active {% endif %} {% if request.path == Student %} active {% endif %} {% if request.path == student_edit %} active {% endif %}">
              <i class="nav-icon fas fa-child"></i>
              <p>
                Student
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>